@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --main-color: #5f88da;
    --round-btn-size: 45px;
    --round-btn-checked-color: #2feb5e;
    --paragraph-color: #aaaaaa;
    --section-text-color: rgb(221, 221, 221);
    --background-color: rgb(26, 26, 26);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

body {
    background-color: var(--background-color);
    color: #eee;
    overflow: hidden;
}

#main-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    height: 100vh;
    overflow: hidden;
}

.map-container {
    position: relative;
}

#mapid {
    transition: .3s height;
}

.normal-map {
    height: 60vh;
}

.fullscreen-map {
    height: 100vh;
}

.show-fullscreen {
    background-color: var(--background-color);
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 25px;
    width: 40%;
    transform: translateX(-50%);
    z-index: 9998;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.leaflet-control-attribution {
    font-size: .4rem !important;
}

#info-container {
    width: 300%;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 0 1 auto;
    height: 30vh;
    /* padding: 0 1.22rem; */
}

.info-card {
    width: 100%;
    padding: 0 1.22rem;
    transform: scale(1) translateX(0);
    transition: .3s transform;
}

.more-info-card {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding-top: 1em;
    text-align: center;
}

.move-card-left {
    transform: translateX(-100%);
}

.move-card-right {
    transform: translateX(100%);
}

.card-hidden {
    position: relative;
    transform: scale(0);
    display: none !important;
}

.buttons-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    flex: 0 0 auto;
    margin: .2em 0 1em;
}

.options-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 1rem 0 .5rem;
}

.information-row {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    flex-basis: 30%;
    flex-grow: 1;
    overflow-y: scroll;
}

.nav-btn {
    position: absolute;
    top: 5px;
    left: 7px;
    height: 40px;
    width: 40px;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 2rem;
    transition: .3s color;
    cursor: pointer;
}

.nav-btn i {
    text-align: center;
}

.navbar-shown-btn {
    color: #fff;
}

.nav-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
}

.navbar {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 9999;
    background-color: var(--background-color);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding: 1.5rem 1rem;
    align-items: stretch;
    transition: .3s transform, .15s .15s box-shadow;
    box-shadow: 2px 0px 30px 20px rgba(0, 0, 0, 0.4);
    flex: 1 0 80%;
}

.navbar-hidden {
    transform: translateX(-100%);
    box-shadow: none
}

.nav-empty-space {
    width: 100%;
    height: 100vh;
    z-index: 10001;
}

.nav-list {
    list-style: none;
}

.nav-list>li {
    margin: 1em 0;
    user-select: none;
    transition: .1s transform;
}

.navbar-section {
    margin: 1.8em 0;
}

.navbar-section label {
    color: var(--paragraph-color);
}

.find-vehicle-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
}

.navbar-input {
    width: 175px;
    margin: 0 2em 0;
    padding: .4em .8em .4em .2em;
    background-color: var(--background-color);
    border: 1px solid var(--background-color);
    border-bottom: 1px solid rgb(138, 138, 138);
    color: #fff;
    transition: .3s all;
    font-size: 1em;
}

.navbar-input:hover {
    color: #000;
    background-color: rgb(190, 190, 190);
    border-bottom: 1px solid var(--main-color);
}


.menu-contact {
    flex: 1 1 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.menu-contact span {
    flex: 0 1 32%;
    padding: 0 1em;
    border: 1px dotted var(--paragraph-color);
    border-width: 0;
}

.menu-contact span:nth-child(2) {
    border-width: 0 1px 0;
}

.loading-anim-div {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -10%);
    z-index: 9998;
    background-image: url(../img/loading-anim.gif);
    background-repeat: no-repeat;
    background-position: top;
    background-origin: border-box;
    background-size: 60px;
}


/* ---maintenance------------- */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.no-active {
    display: none;
}

.micro {
    width: 0;
    height: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

/* buttons  */
.checkbox-round {
    background: var(--main-color);
    display: inline-block;
    width: var(--round-btn-size);
    height: var(--round-btn-size);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 1em;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.checkbox-round-btn {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}

.checkbox-round-btn+i {
    color: #fff;
}

.checkbox-round-btn:checked+i {
    color: var(--round-btn-checked-color);
}

#refresh:checked+i {
    color: #fff;
}

.refresh-animation {
    animation: refreshIcon 1s ease-out none normal;
}

@keyframes refreshIcon {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(1080deg);
    }
}

/* ----------------------------------------switches --------------*/
button:focus {
    outline: 0;
}

.switch-btn {
    width: 90px;
    padding: .8em 1.2em;
    background-color: #222;
    border: 1px solid #222;
    border-radius: 50px;
    text-transform: uppercase;
    color: #fff;
    box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.5);
    user-select: none;
}

.active-swtich-btn {
    background: var(--main-color);
}

.switch-container {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
    margin: .6em 0 0;
    transform: scale(1);
    transition: .1s .2s transform;
}

.switch-container-not-active {
    transform: scale(0);
}

.switch-checkbox-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--paragraph-color);
    transition: .15s;
    border-radius: 20px;
}

.switch-slider:before {
    position: absolute;
    content: '';
    height: 24px;
    width: 24px;
    top: 2px;
    left: 2px;
    background-color: #fff;
    transition: .15s;
    border-radius: 50%;
}

.switch-checkbox-input:checked+.switch-slider {
    background-color: var(--main-color);
}

.switch-checkbox-input:checked+.switch-slider:before {
    transform: translateX(32px);
}

/* ---------------select option----------- */
.option-select {
    width: 90px;
    padding: .6em .8em;
    margin: .7em 0;
    background-color: var(--paragraph-color);
    color: #000;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
    background-color: rgb(117, 117, 117);
    background: rgb(223, 223, 223) url(../img/select_arrow.svg) 0 0 no-repeat;
    background-size: 20px;
    background-origin: padding-box;
    background-position: 90%;
    border: 1px solid rgb(223, 223, 223);
    -webkit-appearance: none;
}

.option-select option {
    background-color: rgb(223, 223, 223);
    border: 1px solid gb(223, 223, 223);
}

/* text */
.header-text {
    align-self: center;
    text-align: center;
    color: var(--main-color);
    font-size: 2em;
    margin: 0 0 .4em;
    width: 80%;
    font-weight: bold;
}

.header-text::before {
    display: block;
    content: 'ZTM APP';
    text-align: center;
    position: relative;
    top: -200%;
    transition: .2s .1s top;
}

.active-header-text::before {
    top: 0%;
}

/* podkreślenie do nagłówka w menu - na razie wyłączone */
/* .header-text::after {
    text-align: center;
    display: block;
    content: '';
    margin: .15em auto;
    width: 0%;
    border: 1px solid rgba(141, 141, 141, 0);
    transition: .2s .3s width, .2s .2s border-color;
}

.active-header-text::after {
    border-color: rgba(141, 141, 141, 0.775);
    width: 100%;
} */

.big-text {
    font-size: 1.4em;
    margin: .4em 0;
}

.info-text {
    color: var(--paragraph-color);
    margin: .15em 0;
}

.section-menu-title {
    width: 100%;
    font-size: 1.4rem;
    font-weight: normal;
    color: var(--section-text-color);
}

.section-menu-title::after {
    display: block;
    content: '';
    margin: .15em 0 1em;
    border: 1px solid rgba(73, 73, 73, 0);
    width: 0;
    transition: .2s .2s all;
}

.active-section-menu-title::after {
    border: 1px solid rgba(73, 73, 73, 0.775);
    width: 100%;
}