@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --main-color: #5f88da;
    --round-btn-size: 45px;
    --round-btn-checked-color: rgb(47, 235, 94);
    --paragraph-color: #aaa;
    --background-color: rgb(26, 26, 26);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

body {
    background-color: var(--background-color);
    color: #eee;
    overflow: hidden;
}

#main-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    height: 100vh;
    overflow: hidden;
}

.map-container {
    position: relative;
}

#mapid {
    transition: .3s height;
}

.normal-map {
    height: 60vh;
}

.fullscreen-map {
    height: 100vh;
}

.show-fullscreen {
    background-color: var(--background-color);
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 25px;
    width: 40%;
    transform: translateX(-50%);
    z-index: 9998;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.leaflet-control-attribution {
    font-size: .4rem !important;
}

#info-container {
    width: 300%;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-grow: 1;
    height: 30vh;
    /* padding: 0 1.22rem; */
}

.info-card {
    width: 100%;
    padding: 0 1.22rem;
    transform: scale(1) translateX(0);
    transition: .3s transform;
}

.move-card-left {
    transform: translateX(-100%);
}

.move-card-right {
    transform: translateX(100%);
}

.card-hidden {
    position: relative;
    transform: scale(0);
    display: none !important;
}

.buttons-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    flex: 0 0 auto;
    margin: .2em 0 1em;
}

.options-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 1rem 0 .5rem;
}

.information-row {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    flex-basis: 30%;
    flex-grow: 1;
    overflow-y: scroll;
}

.nav-btn {
    position: absolute;
    top: 5px;
    left: 7px;
    height: 40px;
    width: 40px;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 2rem;
    transition: .3s color;
}

.nav-btn i {
    /* --shadow-color: #fff; */
    /* text-shadow: 1px 0px 2px var(--shadow-color), -1px 0px 2px var(--shadow-color), 0px 1px 2px var(--shadow-color), 0px -1px 2px var(--shadow-color); */
    text-align: center;
}

.navbar-shown-btn {
    color: #fff;
}

.nav-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
}

.navbar {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 9999;
    background-color: var(--background-color);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding: 2rem;
    align-items: center;
    transition: .3s transform, .15s .15s box-shadow;
    box-shadow: 2px 0px 30px 20px rgba(0, 0, 0, 0.4);
    flex: 1 0 80%;
}

.navbar-hidden {
    transform: translateX(-100%);
    box-shadow: none
}

.nav-empty-space {
    width: 100%;
    height: 100vh;
    z-index: 10001;
}

.nav-list {
    list-style: none;
}

.nav-list>li {
    margin: 1em;
    user-select: none;
    cursor: pointer;
    transition: .1s transform;
}

.nav-list>li:hover {
    color: #fff;
    transform: scale(1.2);
}


/* ---maintenance------------- */

.no-active {
    display: none;
}

.micro {
    width: 0;
    height: 0;
}

/* buttons  */
.checkbox-round {
    background: var(--main-color);
    display: inline-block;
    width: var(--round-btn-size);
    height: var(--round-btn-size);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 1em;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.checkbox-round-btn {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}

.checkbox-round-btn+i {
    color: #fff;
}

.checkbox-round-btn:checked+i {
    color: var(--round-btn-checked-color);
}

#refresh:checked+i {
    color: #fff;
}

.refresh-animation {
    animation: refreshIcon 1s ease-out none normal;
}

@keyframes refreshIcon {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(1080deg);
    }
}

.switch-btn {
    width: 90px;
    padding: .8em 1.2em;
    background-color: #222;
    border: 1px solid #222;
    border-radius: 50px;
    text-transform: uppercase;
    color: #fff;
    box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.5);
    user-select: none;
}

.active-swtich-btn {
    background: var(--main-color);
}

/* text */
.big-text {
    font-size: 1.4em;
    margin: .4em 0;
}

.info-text {
    color: var(--paragraph-color);
    margin: .15em 0;
}